body {
    background-image: url(images/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #343131;
    color: white;
    font-family: Impact;
  }
  
  h1{
    color: white;
    font-size: 72;
  }